.footer-cmp {
    /* background: #ccc; */
    width: 100vw;
    height: 8vh;
    font-weight: bold;
    font-size: 0.8rem;
}

.user {
    height: 100%;
    width: 33%;
    /* border-left: 5px black solid;
    border-right: 5px black solid; */
}

.inforamtion {
    font-size: 0.8rem;
    text-align: center;
    margin: 0 10px;
}

.user-fb {
    height: 100%;
    width: 33.33333%;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.footer-cmp img {
    height: 30px;
    width: 70px;
}

.footer-cmp i {
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.footer-cmp i:hover {
    color: blue;
    animation: rotate alternate 1s ease-out
}

@keyframes rotate {
    0% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(360deg);
        color: red;
    }
}