.global-header {
    width: 100vw;
    height: 15vh;
    /* background: url('../../../img/texture2.jpg'); */
    /* background-position: center;
    background-size: cover; */
    color: black;
    font-size: 1.5rem;
    padding: 0 20px;
}

.logo {
    background: url("../img/logo.png");
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 350px;
}

.global-header .appsus-nav {
    height: 200px;
    max-width: 200px;
    position: absolute;
    right: 10%;
    top: 5%;
    border: 2px black solid;
    background: white;
    border-radius: 10px;
}

.global-header .appsus-nav ul {
    list-style-type: none;
}

.global-header .appsus-nav li {
    width: 50%;
    padding: 5px;
}

.global-header .appsus-nav li {
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.counters-container {
    width: 40vw;
    background: #ccc;
    padding: 10px;
    border-radius: 10px;
}

.counters-container img {
    width: 50px;
    height: 50px;
}