.global-header {
    width: 100vw;
    height: 8vh;
    background-position: 100% 5%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 1.5rem;
    padding: 0 20px;
}

.logo {
    background: url("../img/logo.png");
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.global-header .appsus-nav {
    height: 75px;
    max-width: 300px;
    position: absolute;
    right: 6%;
    top: 0;
    border: 2px black solid;
    background: white;
    border-radius: 10px;
    z-index: 1;
}

.global-header .appsus-nav ul {
    list-style-type: none;
}

.global-header .appsus-nav li {
    width: 50%;
    padding: 5px;
}

.global-header .appsus-nav li {
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.counters-container {
    width: 30vw;
    background: rgb(207, 204, 204, 0.7);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.counters-container img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.fa-th {
    font-size: 3rem;
    cursor: pointer;
    margin-right: 20px;
}

.text-count span, .mail-count span {
    font-size: 1rem;
}