.email-det {
    height: 801px;
    width: 1194px;
    background: green;
    position: relative;
}

.email-det div.send-mail-head {
    width: 100%;
    background: black;
    color: white;
    font-size: 2rem;
}

.email-det div input {
    width: 100%;
    padding: 10px;
}

.email-det textarea {
    width: 100%;
    height: 90%;
    font-size: 1.5rem;
}

.email-det button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}