.email-det {
    height: 81vh;
    width: 83%;
    background: green;
    /* position: relative; */
}

.email-det div.send-mail-head {
    width: 100%;
    background: black;
    color: white;
    font-size: 2rem;
}

.email-det .inputs-container input {
    width: 71.6vw;
}

.email-det button.replayBtn {
    height: inherit;
}

.email-det textarea {
    width: 100%;
    height: 90%;
    font-size: 1.5rem;
    resize: none;
    padding: 20px;
}

.email-det button {
    /* position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px; */
    /* width: 150px; */
    height: 30px;
    width: 100px;
}