.note-prev {
    height: 350px;
    width: 350px;
    margin: 10px 10px;
    background: url("../../../img/note.png");
    background-position: center;
    background-size: contain;
}

.note-content {
    margin-top: 35%;
    padding-left: 20%;
    max-width: 90%;
}

.notes-editor {
    padding-bottom: 10%;
    padding-left: 20%
}

.note-prev img {
    max-height: 150px;
    max-width: 300px;
}