.note-editor-colors span {
    display: inline-block;
    background: blue;
    height: 30px;
    width: 30px;
    margin: 5px 10px;
}

.note-editor-colors {
    position: absolute;
    bottom: 5%;
    left: 1%;
    width: 100%;
}

.notes-editor .note-editor-colors input {
    padding: 0;
    background: white;
    width: 40%;
    border: 2px black solid;
    border-radius: 0;
}