.note-prev {
    height: 350px;
    width: 350px;
    margin: 10px 10px;
    font-size: 1.3rem;
    background: rgb(221, 221, 39);
    /* background: url("../../../img/not-pinned-note.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
}

.note-content {
    margin-top: 25%;
    padding-left: 20%;
    max-width: 80%;
    margin-bottom: 10px;
}

.notes-editor {
    padding-bottom: 20%;
    padding-left: 20%
}

.note-prev img {
    max-height: 150px;
    max-width: 300px;
}